version: '3.9'

services:
  mongodb:
    image: mongo:5.0.9
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}

volumes:
  mongodb_data_container:
